/*Color palette*/
/*#b0f2bc,#89e8ac,#67dba5,#4cc8a3,#38b2a3,#2c98a0,#257d98*/

.navbar {
  background-color:#257d98
}

.navbar-nav .nav-link {
  margin-right: 10px;
  margin-left: 10px;
}

#stat-card {
  text-align: center;
  background-color:#D3EAF0;
  border-style: solid;
  border-width: 1px;
}

#nom-stat {
  font-size: 0.8em;
}

#stat {
  font-size: 1.25em;
  font-weight: bold;
}

.mapToolTip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}