/*Color palette*/
/*de pale a fonce*/
/*#b0f2bc,#89e8ac,#67dba5,#4cc8a3,#38b2a3,#2c98a0,#257d98*/

.navbar {
  background-color:#257d98
}

.navbar-nav .nav-link {
  margin-right: 10px;
  margin-left: 10px;
}

#stat-card {
  text-align: center;
  background-color:rgb(233, 241, 243);
  border-style: solid;
  border-width: 1px;
}

#nom-stat {
  font-size: 0.8em;
}

#stat {
  font-size: 1.25em;
  font-weight: bold;
}

.mapToolTip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 400px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}

.custom-tooltip{
  background-color: rgba(230, 230, 230, 0.85);
  padding-left: 15px;
  padding-right:15px;
  padding-top: 5px;
  padding-bottom: 1px;
}

#tableOnline th, td {
  text-align: center;   
}